<div class="article">
<article class="article-01">
    <div id="lorem">
    <h2>B&W</h2>
    <img src="/images/B&W.png" alt="Article 1 Image">
    </div>
    <div>
    <p>Fusce scelerisque, mauris at mattis ullamcorper, tortor erat cursus eros, quis fermentum purus tellus vel nisl. Duis sed porttitor lectus. Cras commodo magna eget turpis blandit, quis consequat est egestas. Vivamus et mi mattis, vulputate augue a, commodo sem. Etiam lobortis leo ut ex condimentum, eget molestie ante sodales. Nulla efficitur nisl a ex auctor tempus. Donec viverra mattis tellus ac lacinia. Fusce ligula est, lobortis tempor arcu non, scelerisque dignissim ipsum. Phasellus volutpat condimentum lorem, eget lacinia dolor sodales sed. </p>     
    </div>
</article>


<article class="article-02">
    <div id="lorem">
    <h2>Macro</h2>
    <img src="/images/Macro.png" alt="Article 2 Image">
    </div>
    <div>
    <p>Maecenas in ante id magna vestibulum convallis vehicula et risus. Mauris justo lacus, dapibus ut purus vitae, laoreet tristique risus. Donec enim arcu, congue ac placerat in, mattis in dolor. Nunc feugiat volutpat viverra. Maecenas a ultricies velit. Ut tincidunt est quam, ut hendrerit arcu commodo eu. Maecenas blandit cursus magna ac sagittis. Integer dolor nulla, consequat vel justo eget, viverra ornare metus. Cras sit amet dictum nulla, non consectetur mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>     
    </div>
</article>


<article class="article-01">
        <div id="lorem">
        <h2>Underwater</h2>
        <img src="/images/Underwater.png" alt="Article 3 Image">
        </div>
        <div>
        <p>Pellentesque sodales elementum elit, eu iaculis enim pretium a. Quisque tempor non arcu sit amet venenatis. Donec ultrices mauris vel libero tristique, non imperdiet risus finibus. Proin augue purus, malesuada a erat quis, finibus ullamcorper augue. Vestibulum sollicitudin velit accumsan porta consequat. Praesent imperdiet dui non nisi congue tristique. Nullam ornare fermentum dapibus. Sed egestas non tortor at consequat. Aliquam eu urna at mi vehicula vestibulum. Integer cursus velit lectus, id consequat dui aliquet id. Donec et arcu dictum, fermentum justo sed, malesuada elit.</p>     
        </div>
</article>
</div>