<div class="card-container">
    <div class="card">
        <img src="/images/potrait-women.png" alt="Thumbnail 1">
        <h3>Potrait - Women</h3>
    </div>


    <div class="card">
        <img src="/images/pinkhour.png" alt="Thumbnail 2">
        <h3>Pink Hour</h3>
    </div>


    <div class="card">
        <img src="/images/potrait-man.png" alt="Thumbnail 3">
        <h3>Potrait - Man</h3>
    </div>


    <div class="card">
        <img src="/images/dog.png" alt="Thumbnail 4">
        <h3>Potrait - Dog</h3>
    </div>


    <div class="card">
        <img src="/images/plant.png" alt="Thumbnail 5">
        <h3>Abstract</h3>
    </div>

    
    <div class="card">
        <img src="/images/cat.png" alt="Thumbnail 6">
        <h3>Potrait - Cat</h3>
    </div>
</div>